/* Resetar alguns estilos padrão */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px;
}
